<%= form_with(url: '/sign_in', local: true) do |f| %>
  <div class="form-group">
    <%= f.label "name:" %>
    <%= f.text_field :name, required: true,  autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit 'Sign in' %>
  </div>
<% end %>