<section>
  <% if signed_in? %>
    <p>Signed in as: <%= current_user.name %></p>
    <%= link_to "Sign Out", session_path(current_user.id),
                            method: :delete,
                            data: { confirm: "Are you sure you want to sign out?" } %>
    <p>Let us list the events</p>

  <% else %>
    <div class="row">
      <div class="col-md-6">
        <h1>Welcome!</h1>
      </div>

      <div class="col-md-6">
        <%= render 'sessions/form' %>
        <p>Don't have an account? <%= link_to 'Sign Up', new_user_path %></p>
      </div>
    </div>
  <% end %>
</section>