<div class="card w-25 mx-auto mt-2">
  <div class="card-header">
    <h1>Edit Profile</h1>
  </div>
  <div class="card-body">
    <%= render 'users/form' %>
  </div>
  <%= link_to "Cancel", user_path(@user), class: "pl-3" %>
</div>