<div class="card w-25 mx-auto mt-3">
  <div class="card-header">
    <h1>Sign Up</h1>
  </div> 

  <div class="card-body">
    <%= render 'users/form' %>
  </div>
  <%= link_to "Cancel", root_url, class: "pl-3" %>
</div>