<% unless @event.past? %>
  <%= form_with(url: '/attend', local: true) do |f| %>
    <%= f.hidden_field :event_id, class: :form_control, value: @event.id %>
    <div class="actions text-center">
      <%= f.submit 'Confirm Attendance', class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>