<% unless @event.past? %>
  <%= form_with(url: '/attend', local: true) do |f| %>
    <div class="actions text-center">
      <%= f.submit 'Confirm Attendance', class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>