<div class="card w-75 mx-auto px-3">
  <div class="card-header text-center mb-2">
    <h1>All Events</h1>
   </div> 

  <h3>Upcoming Events</h3>
  <ul class="list-unstyled">
    <% @upcoming_events.each do |event| %>
      <li>+ <%= link_to event.name, event_path(event) %></li>
    <% end %>
  </ul>
  <h3>Previous Events</h3>
  <ul class="list-unstyled">
    <% @previous_events.each do |event| %>
      <li>+ <%= link_to event.name, event_path(event) %></li>
    <% end %>
  </ul>
  <%= link_to "Home", root_path, class: "pb-3" %>
</div>