<div>
  <h1>All Events</h1>

  <h3>Upcoming Events</h3>
  <ul>
    <% @upcoming_events.each do |event| %>
      <li>+ <%= link_to event.name, event_path(event) %></li>
    <% end %>
  </ul>
  <h3>Previous Events</h3>
  <ul>
    <% @previous_events.each do |event| %>
      <li>+ <%= link_to event.name, event_path(event) %></li>
    <% end %>
  </ul>
  <%= link_to "Home", root_path %>
</div>